/*전체*/
*, html {
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: 'Nanum Gothic', sans-serif;
}

body {

}

a {
  text-decoration: none;
  color: #000;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

/*content*/
#content {
  height: 560px;
  width: 315px;
  background-color: white;
  position: absolute;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 0 20px 1px;
}

/*content_head*/
.content_head {
  padding: 3% 8%;
  border-bottom: #DCDCDC solid 0.1px;
  font-weight: lighter;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content_head .logo {
  display: inline-block;
  margin-right: 60px;
}

.content_head .shadow {
  display: inline-block;
  padding: 10px 12px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 10px;
}


/*content_mid*/
.content_mid {
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 85%;
}

/*notice_page*/
.content_mid .notice_page {
  display: inline-block;
  padding: 3% 8%;
  line-height: 1.6em;
  font-size: 16px;
}

/*main_page*/
.category_list {
  padding: 3% 8%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.category_list > a {
  margin-bottom: 5px;
}

.category_image {
    filter: brightness(110%);
}

.category_name {
  text-align: center;
  font-size: 10px;
  margin-bottom: 5px;
}


/*map*/
#map {
  height: 100%;
  width: 99%;
  position: absolute;
}