.selected_restaurant {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.selected_restaurant_title {
  width: 20%;
  font-size: 13px;
}

#form-control1 {
  width: 70% !important;
  border: #e1e1e1 !important;
}

#form-group1 {
  display: flex;
  justify-content: center;
}

#form-control2 {
  width: 90% !important;
  border: #e1e1e1 !important;
}

#form-group2 {
  margin: 0 5%;
  width: 90%;
  display: flex;
  align-items: center;
  font-size: 10px !important;
}

#form-group2 input {
  width: 50%;
}

#comment_submit {
  margin-top: 15px;
  background-color: white;
  border: none;
}