{% extends "base_app/base.html" %}

{% block head_right4 %}
{% load static %}
<div class="all_restaurants" id="head_right4">
  <a href="{% url "base_app:base" %}">
    <img src="{% static 'base_app/images/restaurants.png' %}" height="25">
  </a>
</div>
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'base_app/css/restaurant.css' %}">
<div class="comment_list">
  {% for comment in comments %}
    <div class="comment">
      <!--writer-->
      <div class="profile_set">
        <div class="profile_image" style="background-color: deepskyblue; width: 35px; height: 35px"></div>
        <div class="profile_content">
          <div class="profile_nickname">커서잘될놈</div>
          <div class="upload_time">
            <span>{{ comment.created_at|date:"y/m/d" }}</span>
            <span>{{ comment.created_at|time:"H:i" }}</span>
          </div>
        </div>
        <div class="comment_restaurant"><a href="{% url "base_app:restaurant" pk=comment.restaurant.pk %}">＃<span>{{ comment.restaurant }}</span></a></div>
      </div>

      <!--comment-->
      <div class="comment_set">
        <div class="comment_content">{{ comment.content }}</div>
          <div class="grade_set">
            <span class="taste"><b>맛</b><span> {{ comment.taste_grade }}</span></span>
            <span class="cost"><b>가격</b><span> {{ comment.price_grade }}</span></span>
            <span class="clean"><b>청결</b><span> {{ comment.clean_grade }}</span></span>
            <span class="like"><span><img src="{% static 'base_app/images/like.png' %}" width="12"></span><span> 0</span></span>
            <span class="dislike"><span><img src="{% static 'base_app/images/dislike.png' %}" width="12"></span><span> 0</span></span>
          </div>
        <div class="comment_images">
          <div class="comment_image" style="background-color: limegreen; width: 120px; height: 120px"></div>
          <div class="comment_image" style="background-color: limegreen; width: 120px; height: 120px"></div>
          <div class="comment_image" style="background-color: limegreen; width: 120px; height: 120px"></div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}