{% extends "base_app/base.html" %}

{% block head_left %}
{% load static %}
  {% if search_term %}
    <div class="main_menu">‘{{ search_term }}’ <span>의 검색 결과</span></div>
  {% else %}
    <div class="main_menu">후기</div>
  {% endif %}
{% endblock %}

{% block head_right23 %}
{% endblock %}

{% block search %}
<input class="search_text" type="text" name="search" placeholder="(후기) 검색어를 입력해주세요" required>
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'base_app/css/restaurant.css' %}">
<div class="comment_list">
  {% for comment in comments %}
    <div class="comment">
      <!--writer-->
      <div class="profile_set">
      {% if comment.author.is_superuser or comment.author.is_staff %}
        <div class="profile_image"><img src="{% static 'base_app/images/profile1.png' %}" width="35"></div>
        <div class="profile_content">
          <div class="profile_nickname" style="color: rgb(255,129,129)">{{ comment.author.last_name }}</div>
      {% else %}
        <div class="profile_image"><img src="{% static 'base_app/images/profile2.png' %}" width="35"></div>
        <div class="profile_content">
          <div class="profile_nickname" style="color: rgb(129,129,255)">{{ comment.author.last_name }}</div>
      {% endif %}
          <div class="upload_time">
            <span>{{ comment.created_at|date:"y/m/d" }}</span>
            <span>{{ comment.created_at|time:"H:i" }}</span>
          </div>
        </div>
        <div class="comment_restaurant">
          <a href="{% url "base_app:restaurant" pk=comment.restaurant.pk %}"># <span>{{ comment.restaurant }}</span></a>
          {% if comment.dish_eaten %}
          <a  href="#"><{{ comment.dish_eaten }}></a>
          {% endif %}
        </div>
      </div>

      <!--comment-->
      <div class="comment_set">
        <div class="comment_content">{{ comment.content }}</div>
          <div class="grade_set">
            <span class="taste"><b>맛</b><span> {{ comment.taste_grade }}</span></span>
            <span class="cost"><b>가격</b><span> {{ comment.price_grade }}</span></span>
            <span class="clean"><b>청결</b><span> {{ comment.clean_grade }}</span></span>
            <span class="like"><span><img src="{% static 'base_app/images/like.png' %}" width="12"></span><span> 0</span></span>
            <span class="dislike"><span><img src="{% static 'base_app/images/dislike.png' %}" width="12"></span><span> 0</span></span>
          </div>
        <div class="comment_images">
          {% if comment.food_image %}
          <img class="comment_image" src="{{ comment.food_image.url }}">
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}

{% block footer %}
<a href="{% url "base_app:all_comments" %}"><img src="{% static 'base_app/images/comment2.png' %}" width="26"></a>
<a href="{% url "base_app:base" %}"><img src="{% static 'base_app/images/restaurant1.png' %}" width="27"></a>
<a href="{% url "base_app:write_comment" pk=1 %}"><img src="{% static 'base_app/images/write1.png' %}" width="27"></a>
<a href="#"><img src="{% static 'base_app/images/gear1.png' %}" width="27"></a>
{% endblock %}


{% block mapMarker %}
{% endblock %}