{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>bld | 서울시립대 음식점</title>
  <link rel="stylesheet" type="text/css" href="{% static 'base_app/css/base.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
  </head>
<body>
  <!--content-->
  <div id="content">
    <!--head-->
    <div class="content_head">
{#      <div class="logo"><img src="{% static 'base_app/images/logo2.png' %}" width="80"></div>#}
      <div class="logo" style="font-size:30px;">bld</div>
      <!-- 로그인 전
      <div class="signup_mypage">Signup</div>
      <div class="login_logout">Login</div>
      -->
      <!-- 로그인 후 -->
      <div class="signup_mypage">Mypage</div>
      <div class="login_logout">Logout</div>

      <div class="shadow search"><img src="{% static 'base_app/images/search.png' %}" width="20"></div>
    </div>

    <!--mid-->
    <div class="content_mid">
      {% block content %}
<!-- 첫 번째 페이지
      <div class="notice_page">
        같이 서울시립대학교를 위해<br/>
        프로젝트 진행할 사람을 모집합니다.<br/>
        <br/>
        UX&UI디자인 한 분<br/>
        안드로이드, IOS 앱 개발 한 분<br/>
        <br/>
        지원은 과거 진행하셨던 작업물을<br/>
        메일(hsh700788@naver.com)로<br/>
        보내주시면 됩니다.<br/>
        <br/>
        관심있는 분 편하게 연락주시면 됩니다.<br/>
      </div>
-->

      <div class="main_page">
        <div class="category_list">
          {% for category in categorys %}
            <a href="{% url "base_app:category" pk=category.pk %}">
              <div class="category_set">
                <div class="category_image">
                  <img src="{{ category.category_image.url }}" width="80px"/>
                </div>
                <div class="category_name">
                  {{ category }}
                </div>
              </div>
            </a>
          {% endfor %}
        </div>
      </div>



      {% endblock %}
    </div>
    <!--footer-->
    <div class="content_footer"></div>

  </div>


  <!--map-->
  <div id="map"></div>


  <script>
    var markers = [];
    var markerCluster= null;
    function initMap() {
        // map options
        var options = {
            center: {lat:37.583500, lng:127.05200},
            zoom: 15,
            mapTypeControl: false,
            streetViewControl: false,
            fullscreenControl: false,
            };

        // new map
        var map = new
        google.maps.Map(document.getElementById('map'), options);

        {% for restaurant in restaurants %}
            var marker = new google.maps.Marker({
                position: {{ restaurant.locate }},
                map: map,
                // icon:,
            });
            markers.push(marker);
        {% endfor %}
       var markerCluster = new MarkerClusterer(map, markers,
            {imagePath: '../static/base_app/images/m'});
      }

  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbX8bL78zKMX1D7viqLsXJikPwaLB8omQ&callback=initMap"
  async defer></script>
  <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
  </script>
</body>
</html>