{% extends "base_app/base.html" %}

{% block main_title %}
{% load static %}
  {% for restaurant in selected_restaurant %}
    <div class="main_title">{{ restaurant.name }}</div>
  {% endfor %}
{% endblock %}

{% block head_right4 %}
{% load static %}
<div class="all_comments" id="head_right3">
  <a href="{% url "base_app:all_comments" %}">
    <img src="{% static 'base_app/images/comments.png' %}" height="25">
  </a>
</div>
{% endblock %}

{% block head_right23 %}
<div class="all_restaurants" id="head_right2">
  <a href="{% url "base_app:base" %}">
    <img src="{% static 'base_app/images/restaurants.png' %}" height="25">
  </a>
</div>
<div class="map" id="head_right1">
  <img src="{% static 'base_app/images/map.png' %}" height="25">
</div>
{% endblock %}

{% block head_right1 %}
{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'base_app/css/restaurant.css' %}">
<div class="comment_list">
  {% for restaurant in selected_restaurant %}
    <div class="restaurant_set {{ restaurant.category }}">
      <div style="height: 60px; width: 60px; background-color: #9dc9ec" class="restaurant_image"></div>
      <div class="restaurant_content">
        <div class="restaurant_content_left">
          <div class="restaurant_name">{{ restaurant }}</div>
          <div class="restaurant_info">010-0000-0000<br>0요일 오후 0시 ~ 오후 0시</div>
          <div class="restaurant_star">
            <b>{{ restaurant.average_star }}</b><span class="comment_count"> {{ restaurant.comment_count }}</span>
            <span>맛 {{ restaurant.taste_star }}  가격 {{ restaurant.price_star }}  청결 {{ restaurant.clean_star }}</span>
          </div>
        </div>
        <div class="restaurant_content_right">
          <div><span>혼밥 </span><span>{% if restaurant.is_eating_lonely_possible %}{{ restaurant.is_eating_lonely_possible }}{% else %}-{% endif %}</span></div>
          <div><span>포장 </span><span>{% if restaurant.is_package_possible %}{{ restaurant.is_package_possible }}{% else %}-{% endif %}</span></div>
          <div><span>배달 </span><span>{% if restaurant.is_delivery_possible %}{{ restaurant.is_delivery_possible }}{% else %}-{% endif %}</span></div>
        </div>
      </div>
      <div class="comments">위<br>치<br>보<br>기</div>
    </div>
  {% endfor %}
  {% for comment in comments %}
    <div class="comment">
      <!--writer-->
      <div class="profile_set">
      {% if comment.author.is_superuser or comment.author.is_staff %}
        <div class="profile_image"><img src="{% static 'base_app/images/profile1.png' %}" width="35"></div>
        <div class="profile_content">
          <div class="profile_nickname" style="color: rgb(255,129,129)">{{ comment.author.last_name }}</div>
          <div class="upload_time">
            <span>{{ comment.created_at|date:"y/m/d" }}</span>
            <span>{{ comment.created_at|time:"H:i" }}</span>
          </div>
        </div>
        <div class="comment_restaurant">
          <a href="{% url "base_app:restaurant" pk=comment.restaurant.pk %}"># <span>{{ comment.restaurant }}</span></a>
          {% if comment.dish_eaten %}
          <a  href="#"><{{ comment.dish_eaten }}></a>
          {% endif %}
        </div>
      {% else %}
        <div class="profile_image"><img src="{% static 'base_app/images/profile2.png' %}" width="35"></div>
        <div class="profile_content">
          <div class="profile_nickname" style="color: rgb(129,129,255)">{{ comment.author.last_name }}</div>
          <div class="upload_time">
            <span>{{ comment.created_at|date:"y/m/d" }}</span>
            <span>{{ comment.created_at|time:"H:i" }}</span>
          </div>
        </div>
        <div class="comment_restaurant">
          <a href="{% url "base_app:restaurant" pk=comment.restaurant.pk %}"># <span>{{ comment.restaurant }}</span></a>
          {% if comment.dish_eaten %}
          <a  href="#"><{{ comment.dish_eaten }}></a>
          {% endif %}
        </div>
      {% endif %}
      </div>

      <!--comment-->
      <div class="comment_set">
        <div class="comment_content">{{ comment.content }}</div>
        <div class="grade_set">
          <span class="taste"><b>맛</b><span> {{ comment.taste_grade }}</span></span>
          <span class="cost"><b>가격</b><span> {{ comment.price_grade }}</span></span>
          <span class="clean"><b>청결</b><span> {{ comment.clean_grade }}</span></span>
          <span class="like"><span><img src="{% static 'base_app/images/like.png' %}" width="12"></span><span> 0</span></span>
          <span class="dislike"><span><img src="{% static 'base_app/images/dislike.png' %}" width="12"></span><span> 0</span></span>
        </div>
        <div class="comment_images">
          {% if comment.food_image %}
          <img class="comment_image" src="{{ comment.food_image.url }}">
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}

{% block mapMarker %}
  <!--map setting -->
  <script>
    var markers = [];
    var markerCluster= null;
    function initMap() {
        // map options
        var options = {
          {% for restaurant in selected_restaurant %}
            center: {{ restaurant.locate }},
          {% endfor %}
            zoom: 21,
            mapTypeControl: false,
            streetViewControl: false,
            fullscreenControl: false,
            maxZoom: 21,
            };

        // new map
        var map = new
        google.maps.Map(document.getElementById('map'), options);
          {% for restaurant in restaurants %}
              var marker = new google.maps.Marker({
                  position: {{ restaurant.locate }},
                  map: map,
              });

              // 클릭 시 restaurant 소개 & 센터 오게
              var restaurant_introduction =
                    '<div style="width: 250px; border-bottom: none; margin-bottom: 8px; margin-top: 16px; margin-right: 10px;" class="restaurant_set">\n' +
                    ' <div style="height: 60px; width: 60px; background-color: #9dc9ec" class="restaurant_image"></div>\n' +
                    ' <div class="restaurant_content">\n' +
                    '   <div class="restaurant_content_left">\n' +
                    '     <div class="restaurant_name"><b>{{ restaurant }}</b></div>\n' +
                    '     <div class="restaurant_info">010-0000-0000<br>0요일 오후 0시 ~ 오후 0시</div>\n' +
                    '     <div class="restaurant_star">\n' +
                    '       <b>{{ restaurant.average_star }}</b><span class="comment_count"> {{ restaurant.comment_count }}</span>\n' +
                    '       <span>맛 {{ restaurant.taste_star }}  가격 {{ restaurant.price_star }}  청결 {{ restaurant.clean_star }}</span>\n' +
                    '     </div>\n' +
                    '   </div>\n' +
                    '   <div class="restaurant_content_right">\n' +
                    '     <div><span>혼밥 </span><span>{% if restaurant.is_eating_lonely_possible %}{{ restaurant.is_eating_lonely_possible }}{% else %}-{% endif %}</span></div>\n' +
                    '     <div><span>포장 </span><span>{% if restaurant.is_package_possible %}{{ restaurant.is_package_possible }}{% else %}-{% endif %}</span></div>\n' +
                    '     <div><span>배달 </span><span>{% if restaurant.is_delivery_possible %}{{ restaurant.is_delivery_possible }}{% else %}-{% endif %}</span></div>\n' +
                    '   </div>\n' +
                    ' </div>\n' +
                    ' <a href="{% url "base_app:restaurant" pk=restaurant.pk %}"><div class="comments">후<br>기<br>보<br>기</div></a>\n' +
                    '</div>\n';
              marker['infowindow'] = new google.maps.InfoWindow({
                  content: restaurant_introduction
              });

              marker.addListener('click', function() {
                  map.setZoom(21);
                  map.panTo(this.getPosition());
                  this['infowindow'].open(map, this);
              });
              markers.push(marker);
          {% endfor %}

              // 해당 restaurant 소개 바로 뜨게
          {% for restaurant in selected_restaurant %}
              var selectedMarker = new google.maps.Marker({
                  position: {{ restaurant.locate }},
                  map: map,
                  zIndex: 19980206,
                  label: {
                      text: '★',
                      color: 'white',
                      font_weight: 'bolder',
                  },
              });

              // 클릭 시 restaurant 소개 & 센터 오게
              var restaurant_introduction =
                    '<div style="width: 250px; border-bottom: none; margin-bottom: 8px; margin-top: 16px; margin-right: 10px;" class="restaurant_set">\n' +
                    ' <div style="height: 60px; width: 60px; background-color: #9dc9ec" class="restaurant_image"></div>\n' +
                    ' <div class="restaurant_content">\n' +
                    '   <div class="restaurant_content_left">\n' +
                    '     <div class="restaurant_name"><b>{{ restaurant }}</b></div>\n' +
                    '     <div class="restaurant_info">010-0000-0000<br>0요일 오후 0시 ~ 오후 0시</div>\n' +
                    '     <div class="restaurant_star">\n' +
                    '       <b>{{ restaurant.average_star }}</b><span class="comment_count"> {{ restaurant.comment_count }}</span>\n' +
                    '       <span>맛 {{ restaurant.taste_star }}  가격 {{ restaurant.price_star }}  청결 {{ restaurant.clean_star }}</span>\n' +
                    '     </div>\n' +
                    '   </div>\n' +
                    '   <div class="restaurant_content_right">\n' +
                    '     <div><span>혼밥 </span><span>{% if restaurant.is_eating_lonely_possible %}{{ restaurant.is_eating_lonely_possible }}{% else %}-{% endif %}</span></div>\n' +
                    '     <div><span>포장 </span><span>{% if restaurant.is_package_possible %}{{ restaurant.is_package_possible }}{% else %}-{% endif %}</span></div>\n' +
                    '     <div><span>배달 </span><span>{% if restaurant.is_delivery_possible %}{{ restaurant.is_delivery_possible }}{% else %}-{% endif %}</span></div>\n' +
                    '   </div>\n' +
                    ' </div>\n' +
                    ' <a href="{% url "base_app:restaurant" pk=restaurant.pk %}"><div class="comments">후<br>기<br>보<br>기</div></a>\n' +
                    '</div>\n';
              var infowindow = new google.maps.InfoWindow({
                  content: restaurant_introduction
              });

              window.onload = function () {
                  infowindow.open(map, selectedMarker);
              };

              selectedMarker.addListener('click', function() {
                  map.setZoom(21);
                  map.panTo(this.getPosition());
                  infowindow.open(map, selectedMarker);
              });
          {% endfor %}


      {# var markerCluster = new MarkerClusterer(map, markers,#}
      {#      {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});#}
      }

  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbX8bL78zKMX1D7viqLsXJikPwaLB8omQ&callback=initMap"
  async defer></script>
  <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
  </script>
{% endblock %}