{% extends "base_app/base.html" %}

{% block main_title %}
{% load static %}
  <div class="main_title">{{ search_term }}</div>
{% endblock %}

{% block head_right4 %}
<div class="all_comments" id="head_right4">
  <a href="{% url "base_app:all_comments" %}">
    <img src="{% static 'base_app/images/comments.png' %}" height="25">
  </a>
</div>
{% endblock %}
{% block head_right23 %}
<div class="all_restaurants" id="head_right3">
  <a href="{% url "base_app:base" %}">
    <img src="{% static 'base_app/images/restaurants.png' %}" height="25">
  </a>
</div>
<div class="map" id="head_right2">
  <img src="{% static 'base_app/images/map.png' %}" height="25">
</div>
{% endblock %}
